Package: msq23-common
Section: By Mathues S Queiroga
Homepage: https://sirherobrine23.org
Version: 0.1.1
Maintainer: Matheus S Queiroga <srherobrine20@gmail.com>
Architecture: all
Description: Um pequeno pacote para configuração do Debian Para o trabalho



































